.btn-book-now{
    width: 170px;
}
.offer{
    position: absolute;
    right: 5%;
}
.possition-2{
    position:absolute ;
    top: -4%;
    right: 5%;
    font-size: 0.7rem;
}
@media screen and (min-width: 100px) and (max-width:314px) {
    
    .carosel-1 h5{
        font-size: 0.5rem;
        margin: 2px 0px;
    }
    .carosel-1 p{
        font-size: 0.3rem;
        margin-bottom: 2px;
    }
    .carosel-1 .btn-book-now{
        width: 60px;
        margin-bottom: 0;
    }
    .btn-book-now a{
        font-size: 0.2rem;
    }
}
@media screen and (min-width: 315px) and (max-width:499px) {
    
    .carosel-1 h5{
        font-size: 0.7rem;
        margin: 4px 0px;
    }
    .carosel-1 p{
        font-size: 0.4rem;
        margin-bottom: 4px;
    }
    .carosel-1 .btn-book-now{
        width: 60px;
        margin-bottom: 0;
    }
    .btn-book-now a{
        font-size: 0.4rem;
    }
}
@media screen and (min-width: 500px) and (max-width:800px) {
    .carosel-1 h5{
        font-size: 1rem;

    }
    .carosel-1 p{
        font-size: 0.6rem;
        padding: 0 5%;
    }
    .carosel-1 .btn-book-now{
        width: 120px;
        
    }
    .btn-book-now a{
        font-size: 0.8rem;
    }
}